{% extends 'champions_stats/base.html' %}
{% load static %}   

{% block content %}
<div class="home">
    <div class="container">
        <img src="{% static 'images/backgroundDark04L.jpg' %}" alt="UEFA Champions League">
        <div class="text-box">
            Bem- vindo à página de estatísticas da UEFA Champions League temporada 2024/2025
            <br>
            <br>
            Aqui você terá acesso às informações da maior competição de clubes do mundo
            <br>
            <br>
            Venha descobrir curiosidades e dados dos jogadores e clubes participantes
        </div>
    </div>
</div>
{% endblock %}
